<header class = "navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		
	<%= link_to "Demo App",'#' , id:"logo"%>
	<nav>
		<ul class = "nav navbar-nav pull-right">
			<li><%= link_to "microposts",  "microposts" %> </li>
			<li><%= link_to "users",  "users" %></li>
		</ul>
		<!-- <ul><%= link_to "Login", "#" %></ul> -->
	</nav>
	</div>
</header>