<header class = "navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		
	</div>
	<nav>
		<ul><%= link_to "microposts",  "microposts" %> </ul>
		<ul><%= link_to "users",  "users" %></ul>
		<!-- <ul><%= link_to "Login", "#" %></ul> -->
	</nav>
</header>