<header class = "navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<center>Chao mung ban den voi demo web Ruby and rail </center>
		<hr>
	</div>
	<nav>
		<center>
		<ul><%= link_to "microposts",  "microposts" %> </ul>
		<ul><%= link_to "users",  "users" %></ul>
		<!-- <ul><%= link_to "Login", "#" %></ul> -->
		</center>
	</nav>
</header>